/*
Template: Industrie - industrie WordPress Theme
Author: peacefulqode.com
Version: 1.0
Design and Developed by: Peaceful
*/
@media(max-width:1365px) {
	.pt-section-title-box.text-center { padding: 0; }
	footer#pt-footer { font-size: 14px; }
	.pt-section-title-box .pt-section-title { font-size: 44px; line-height: 52px; }
	.pt-call-box i { width: 45px; height: 45px; line-height: 45px; }
	.pt-call-box h5 { font-size: 1em; }
	.pt-call-box span { font-size: 13px; }
}
@media(max-width:1199px) {
	.container, .elementor-section.elementor-section-boxed>.elementor-container { max-width: 960px; }
	.section-style:before { content: ""; position: absolute; right: 100%; top: 0; display: inline-block; width: 100%; height: 100%; background: var(--dark-color); }
	.pt-foote-recent-post .pt-foote-recent-post-media img { width: 60px; height: auto; }
	.pt-footer-social ul li a { width: 45px; height: 45px; line-height: 45px; }
	body:not(.rtl) .elementor-13 .elementor-element.elementor-element-1ab74c0 { right: 60px; }
}
@media(max-width:1023px) {
	.container, .elementor-section.elementor-section-boxed>.elementor-container { max-width: 100%; }
	footer#pt-footer { font-size: 16px; }
	.pt-subscribe-block { margin-bottom: 30px; }
	#pt-footer .pt-footer-style-1  .pt-copyright-footer .row { -ms-flex-direction: row-reverse !important; flex-direction: row-reverse !important; }
	.content-area .site-main { padding: 90px 0; }
	body:not(.rtl) .elementor-92 .elementor-element.elementor-element-6e678f4 { left: 30px; }
}
@media(max-width:767px) {
	.pt-section-title-box .pt-section-title { font-size: 38px; line-height: 1.3; }
	.pt-section-title-box.text-center { margin-bottom: 30px; }
	#pt-footer .pt-footer-style-1 .pt-copyright-footer .text-right { text-align: center !important; }
	#pt-footer .pt-footer-style-1 .pt-copyright-footer .pt-copyright { padding: 15px 0; display: inline-block; width: 100%; }
	.pt-footer-social { text-align: left; }
	.pt-footer-social ul li { float: none; display: inline-block; }
	.content-area .site-main { padding: 60px 0; }
	.pt-blog-post .pt-blog-contain { padding: 15px; }
	.pt-blog-post .pt-post-meta ul li { font-size: 12px; }
	.quote-from-1 { padding: 0 15px 30px; }
}
@media(max-width:479px) {
	.pt-section-title-box .pt-section-title { font-size: 30px; line-height: 1.3; }
	.pt-subscribe-block .pt-subscribe-img { display: none; }
	.pt-subscribe-block .pt-subscribe-details { margin-left: 0; text-align: center; }
	.pt-subscribe-from form input { text-align: center; }
	.pt-subscribe-from form input[type="submit"] { position: relative; width: 100%; }
	body:not(.rtl) .elementor-13 .elementor-element.elementor-element-1ab74c0, body:not(.rtl) .elementor-92 .elementor-element.elementor-element-6e678f4, .pt-blog-post .pt-post-meta ul li:last-child { display: none; }
	#pt-footer .pt-footer-style-1 .widget ul.menu#menu-footer-menu li { width: calc(100% - 0px); }
}